*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
}
.logo{
    color: #F9FAF8;
    font-size:18px;
    font-weight: bold;
    font-family: 'Scorched Earth';
}
.header{
    height: 50px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 164px 16px;
}
.links ul{
    display: flex;
    gap:16px;
}
.first-content{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    height:400px;
    justify-content: center;
    align-items: center;
    gap:175px;
    padding: 16px 164px 16px;
    flex-shrink: 0;
}
.awesome{
    width:450px;
}
.awesome-header{
    font-size: 48px;
    font-weight: bolder;
}
.awesome-para{
    font-size: 18px;
    color: gray;
}
.signup button{
    padding:8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    width:100px;
    font-weight: bold;
    margin-top: 8px;
}
.first-img img{
    width:450px;
}
