*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.first-part{
    height: 500px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding:16px 150px 150px;
    gap:100px;
    overflow: hidden;
}
.first-img img{
    height:300px;
    width:500px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(253,45,81);
}
.links ul{
    display: flex;
    gap:16px;
    flex-shrink: 0;
}
.links ul li a{
    font-size: 18px;
    color:#F9FAF8;
}
.awesome-header{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}
.first-content{
    display:flex;
    gap:32px;
    flex-shrink: 0;
}
.awesome-para{
    font-size: 18px;
    color:lightslategrey;
    margin-bottom: 8px;
}
.signup button{
    background-color: #3882F6;
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #F9FAF8;
}
.second-part{
    padding:16px 150px 150px;
}
.only{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 24px;
    margin-bottom: 24px;
}
.second-imgs img{
    height:300px;
    width:220px;
    border:5px solid #3882F6;
    border-radius: 8px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}
.second-title{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: lightslategray;
}
.third-part{
    padding:16px 150px 150px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    overflow: hidden;
}
.quote{
    font-size: 36px;
    margin-top: 50px;
    font-style: italic;
    color: #1F2937;
}
.author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 28px;
    color: #1F2937;
}
.fourth-part{
    display:flex;
    justify-content: center;
    align-items:center ;
    padding:108px;
}
.big-blue-container{
    display:flex;
    background-color: #3882F6;
    justify-content: space-between;
    gap:164px;
    padding:40px 80px;
    border-radius: 4px;
}
.action-header{
    font-weight: bold;
    color: #F9FAF8;
}
.action-sub{
    color: #F9FAF8;
    font-size: 15px;
}
.signup-2 button{
    background-color: #3882F6;
    padding:6px 24px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 8px;
}
.footer{
    marigin-bottom:0;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
}
.footer a{
    color: rgb(34,193,195);
}